/* modal.module.css */

.modalBack {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 700px; /* Increase the max-width to make the form wider */
  width: 90vw; /* Optionally set a width to make it responsive */
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 1rem;
}

.formGroup {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.submitBtn {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: #218838;
}

.modalCloseBtn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.modalCloseBtn:hover {
  background-color: #c82333;
}
